#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.square{
  background: rgb(70, 236, 4);
  border: 4px solid black;
  font-size: 40px;
  text-align: center;
  width: 150px;
  height: 150px;
  font-weight: bold;
  margin-top: -4px;
  margin-right: -4px;
  line-height: 100px;
  float: left;
  padding: 0;
  color: cornsilk;

}

.status{
  margin-bottom: 10px;
}

.board-row:after{
  clear: both;
  content: '';
  display: table;
}
body{
  background-color: rgb(32, 106, 209);
  font-family: Arial, Helvetica, sans-serif;
}